body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  font-size:25px;
}
#table  {
  left:0px;
  height: 100%;
  width:100%;
  position:absolute;
  margin:0;

}
tbody tbody{
  background-color: rgba(255,255,255,0.7);
  color:black;

}
.buy{
  background-color:red;

}
.sell{
  background-color: green;
}
button{
  width:100px;
  height:35px;
  font-size:18px;
}
#body {
  height: 100%;
  width:100%;
}
#fullPage {
  width: 100%;
  height: 50%;
}
#container{
  z-index:10;
  position:absolute;
  top:40%;
  left:33.5%;
  border: 5px solid black;
  background-color:white;
  height: 150px;
  width:600px;
  text-align: center;
  font-size:44px;
  padding:20px;
}
table{
  margin:auto;
}
#apple,#orange,#grapes,#banana{

  margin:0;
  text-align:center;
  line-height: 100%;
  /*border: 5px solid black;*/

}

#apple{
  background-image: url(http://kpcbweb2.s3.amazonaws.com/content/499/original_Apples.jpg);

}

#orange{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/11/0f/7b/110f7b7dd0a98ca933bb65f3fd7f60e8.jpg);
}
#banana{
  background-image:url(https://commoditychainsthatbind.files.wordpress.com/2013/03/bananas-925216.jpeg);
}
#grapes{
  background-image:url(http://www.thenumber1.com/Files/af3dd952-5ba2-4c38-9c8f-791d19e63d17.jpg);
}
table { border-collapse:collapse }
